<h1>Editing Evaluation</h1>

<%= render 'form', evaluation: @evaluation %>

<%= link_to 'Show', course_evaluation_path(@course,@evaluation) ,:class => "btn btn-primary btn-form" %>
<%= link_to 'Back', course_evaluations_path(@course),:class => "btn btn-primary btn-form" %>
<%= link_to 'Ir al curso', @course, :class => "btn btn-primary btn-form" %>
