<h1 class="title-courses">Nueva Evaluación</h1>
<div class="offset-md-5 col-md-4 form-signin ">
<%= render 'form', evaluation: @evaluation %>

<%= link_to 'Back', course_evaluations_path(@course), :class => "btn btn-primary btn-form" %>
</div>