<h1>Editing Student</h1>

<%= render 'form', student: @student %>

<%= link_to 'Ver', course_student_path(@course,@student), :class => "btn btn-primary btn-form" %> 
<%= link_to 'Volver', course_students_path(@course), :class => "btn btn-primary btn-form" %>
<%= link_to 'Ir al curso', @course, :class => "btn btn-primary btn-form" %>
