<h1  class="title-courses">Nuevo estudiante</h1>
<div class="offset-md-5 col-md-4 form-signin ">
	<%= render 'form', student: @student %>

	<%= link_to 'Volver', course_students_path(@course), :class => "btn btn-primary btn-form" %>
</div>