<h1 class="title-courses">Nueva Cursada</h1>
<div class="offset-md-5 col-md-4 form-signin ">
	<%= render 'form', course: @course %>

	<%= link_to 'Volver', courses_path, :class => "btn btn-primary btn-form" %>
</div>